<div class="container-fluid">
  <div class="container-fluid d-flex justify-content-center mt-3"><h2 class="text-white">Portafolio Web Carlos Ucañán Barrera</h2></div>
  <br>
    <div class="container d-flex justify-content-center">
        
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="container-fluid">
                    <img src="../../../assets/img/appflights.jpg" class="card-img-top m-2"  width="100%" height="200"alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Flights Code Share</h5>
                      <p class="card-text">Proyecto desarrollado  en Angular JS  y Node JS para consultar todos los vuelos code share de nuestros clientes, interacción de usuarios por medio del chat.</p>
                      <p class="card-text"><small class="text-muted"><a href="https://appflights.herokuapp.com/#/login" target="_black">Ir hacia...</a></small></p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="container-fluid">
                    <img src="../../../assets/img/buscador.jpg" class="card-img-top m-2"  width="100%" height="200"alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Busca tu proxima Propiedad</h5>
                      <p class="card-text">Proyecto beta buscador de propiedades (casas, departamentos y casa de campo) desarrollado en JavaScript , HTML, CSS y Node.</p>
                      <p class="card-text"><small class="text-muted"><a href="https://app-buscarcasa.herokuapp.com" target="_black">Ir hacia...</a></small></p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="container-fluid">
                    <img src="../../../assets/img/doing.jpg" class="card-img-top m-2" width="100%" height="200"alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Doing Chat</h5>
                      <p class="card-text">Proyecto Doing, chats para colaboradores, con interfaz generador de usuario y audio para alertas diseñado para empresas y desarrollado con Angular, Bootstrap y Firestore.</p>
                      <p class="card-text"><small class="text-muted"><a href="https://doing.netlify.app" target="_black">Ir hacia...</a></small></p>
                    </div>
                  </div>
            </div>
        </div>
        
    </div>
    <div class="container d-flex justify-content-center">
        
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="container-fluid">
                    <img src="../../../assets/img/cookiesgames.jpg" class="card-img-top m-2"  width="100%" height="200" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Cookies Game</h5>
                      <p class="card-text">Juego de galletas en linea para acumular puntos con tiempo en contra desarrollado con Jquery, HTML y CSS.</p>
                      <p class="card-text"><small class="text-muted"><a href="https://cookiesgame.herokuapp.com" target="_black">Ir hacia...</a></small></p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="container-fluid">
                    <img src="../../../assets/img/citas.jpg" class="card-img-top m-2"  width="100%" height="200" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Citas Veterinaria</h5>
                      <p class="card-text">Proyecto beta administrador de citas desarrollado  en ReactJS, para generar y administrar citas de una Veterinaria.</p>
                      <p class="card-text"><small class="text-muted"><a href="https://proyectocitasveterinario.netlify.com/" target="_black">Ir hacia...</a></small></p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="container-fluid">
                    <img src="../../../assets/img/proyectobd.jpg" class="card-img-top m-2"  width="100%" height="200" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Gestor de Clientes</h5>
                      <p class="card-text">Proyecto desarrollado en  Angular y Firestore para  mantenimiento de  base datos de ventas y clientes de la empresa.</p>
                      <p class="card-text"><small class="text-muted"><a href="https://proyectobd-85f2c.firebaseapp.com" target="_black">Ir hacia...</a></small></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
</div>
<br>
<footer>
  <div class="container-fluid d-flex justify-content-center ">
    <a href="https://mail.google.com/"  target="_black">Email:carlosantonioucananbarrera@gmail.com<span  style="color: rgb(116, 114, 111);"> - 2020</span></a>
  </div>
</footer>
<br>

